*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    min-height: 100vh;
}

.sidebar-kiri{
    position: fixed;
    background: black;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.brand-admin{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(211, 211, 211);
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.brand-admin i{
    font-size: 20px;
}

.sidebar-kiri ul li{
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-kiri ul li:hover{
    background-color: rgba(0,0,0.2);
    color: mediumblue;
}


.container-bgs{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}

.header-kop{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
    z-index: 1;
}

.nav-navbar{
    width: 90%;
    display: flex;
    align-items: center;
}
.search-cari{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-cari input{
    border: none;
    background: white;
    padding: 10px;
    width: 50%;
}
.user-guna{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-cari i{
    width: 40px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    background: white;
    border-radius: 50%;
    color: #191919;
    margin: 5px 5px;
}

.content-isi{
    position: relative;
    margin-top: 10vh;
    min-height: 590vh;
    background:rgb(52, 52, 185);
}

.content-isi2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.payment-pay{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}

.tittle-judul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

th,
td{
    border: 2px solid;
}



table{
    border-collapse: collapse;
}


td a{
    background-color: dimgray;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 8px;
  }

  td a:hover{
      color: white;
      background-color: black;
      padding: 8px 16px;
      display: inline-block;
      border-radius: 8px;
  }

  .btn-next .btn-tambah, .btn-next .btn-open{
     
      background: rgb(50, 119, 221);    
      color: black;
      padding: 15px 10px;
      display: inline-flex;
      flex-wrap: nowrap;
      align-content: space-between;
      justify-content: space-between;
      margin-left: 25%;
      border-radius: 30px;
  } 

  img{
      width: 30px;
       margin-left: 10px;

  }

